html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "montserrat", sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: rgb(85, 85, 85) ;
	background: url('../img/bg/bg_ccpi.jpg') no-repeat center center;
      background-size: cover;
}

.content{
      height: 100vh;
      background: #b2b2b2;
}
.content .seccion:hover{
      height: 100%;
      background: #5c5c5c;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
.espacio{
      height: 500px;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 30px;
}

nav a {
      line-height: 30px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: rgb(0, 0, 0);
      padding: 0;
      text-align: center;
      margin: 0;
      padding-right: 20px;
      transition: 1s;
}

nav.black a {
      background: rgba(20, 65, 0, 0.5);
}

nav a {
      display: inline-block;
      padding: 16px 20px;;
}

nav a {
      padding: 10px;
      text-decoration: none;
      background: rgb(20, 65, 0, 0.4);
	border: 2px solid rgb(150, 150, 150);
      font-size: 20px;
      border-radius: 2px;
      color: rgb(7, 7, 7);
      position: relative;
      width: 150px;
}
nav a:hover{
      border: 3px solid rgb(255, 255, 255);
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: rgba(20, 65, 0, 0.5);
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
/*
@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: rgba(20, 65, 0, 0.5);
      }

      nav.black ul {
            background: rgba(20, 65, 0, 0.5);
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
*/