.App {
  text-align: center;
    display: inline;
}

.App-header {
  background-color: #c8e6c9;
  height: 15%;
  padding: 20px;
  color: white;
}
/* De aqui para abajo es para la cabecera*/
.mui-appbar{
    background-color:#E8F5E9;
    color: #1B5E20;
}

a {
    color: #1B5E20;
    font-size: 1.5em;
    text-decoration: none;
}

a:hover {
    font-size: 2em;
    background-color: darkseagreen;
}

ul li {
    list-style: none;
    display: inline-block;
    font-family: monospace;
}

.App-logo {
    height: 60px;
    display: inline;
}

/* De aqui para abajo el cuerpo de la pagina */

.App-Cuerpo{
    padding-bottom: 1em;
    padding-top: 1em;
}

.App-intro {
  font-size: large;
}

.block {
    background-image: url(banner.jpg);
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}