.App {
  text-align: center;
    display: inline;
}

.App-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:2;
}
.App-logo {
    height: 2em;
}

.App-intro {
  font-size: large;
}
.mui-appbar {
  background-color: #2E7D32;
}
a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    
    animation-name: regreso;
    animation-duration: 4s;
    
}

a:hover {
    color: white;
    animation-name: voy;
    animation-duration: 1s;
    color: #000000;
}
  @keyframes voy {
    from {color: whitesmoke;}
    to {color: #000000;}
}
@keyframes regreso {
    from {color: #000000;}
    to {color: whitesmoke;}
}

ul li {
    list-style: none;
    display: inline-block;
    font-family: monospace;
    margin-left: 2em;
    
}
.mui-list--inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.mui--text-body2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}