.App {
  text-align: center;
    display: inline;
}

.App-header {
  background-color: #c8e6c9;
  height: 15%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-logo {
    height: 60px;
    display: inline;
}
.App-Cuerpo{
    padding-bottom: 1em;
    padding-top: 1em;
}
a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
a:hover {
    font-size: 2em;
    background-color: darkseagreen;
}

ul li {
    list-style: none;
    display: inline-block;
    font-family: monospace;
}