.App-Cuerpo{
    padding-bottom: 3em;
    padding-top: 3em;
}
div {
    text-align: center;
}
.inchesImagenes{
    width:auto;
    height:40%;
}
.mui-panel{
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
}