body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:2;
}
#cuerpo{
    background-image:url("Imagenes/banner2.jpg");
}